
EffectiveC++/Demo/Demo.pro.user
EffectiveC++/build-Demo-Desktop_Qt_5_14_2_MinGW_64_bit-Debug
EffectiveC++/VSDemo/.vs
EffectiveC++/VSDemo/Debug
EffectiveC++/VSDemo/Release

EffectiveC++/VSDemo/Common/Common.vcxproj.user
EffectiveC++/VSDemo/Terms09_NerverCallVirDuringCons/Terms09_NerverCallVirDuringCons.vcxproj.user
EffectiveC++/VSDemo/Terms10_AssignmentOperator/Terms10_AssignmentOperator.vcxproj.user
EffectiveC++/VSDemo/Terms10_AssignmentOperator/Debug
EffectiveC++/VSDemo/TryCatchDemo/Debug
EffectiveC++/VSDemo/TryCatchDemo/Release
EffectiveC++/VSDemo/TryCatchDemo/Terms10_AssignmentOperator.vcxproj.user
EffectiveC++/VSDemo/Terms11_HandleAssignmentSelf/Terms11_HandleAssignmentSelf.vcxproj.user
EffectiveC++/VSDemo/Terms12_CopyingEveryOne/Terms12_CopyingEveryOne.vcxproj.user
DesignPattern/SingletonPattern.7z
DesignPattern/SingletonPattern/out
EffectiveC++/out
DesignPattern/SingletonPattern/SingletonPattern/SingletonPattern.pro.user
DesignPattern/SingletonPattern/SingletonPattern/SingletonPattern.pro.user
Qt/out
Qt/GuidoDemo/GuidoDemo.pro.user
Qt/GuidoDemo/GuidoDemo.pro.user
Qt/GuidoDemo/GuidoDemo.pro.user
Qt/QtDevelopmentAndExamples/.qmake.stash
*.user
